
<div class="content" fxLayout="column" fxLayoutAlign="top center" role="main">
  <!-- Highlight Card -->
  <mat-card class="card" fxLayoutAlign="center center">
    <span>My app is running!</span>
  </mat-card>
  <div>
    <img src="../../assets/moraine_lake_canada_4k-1920x1080.jpg" width="1000px" height="500px">
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <bar-rating class="rating-bar" [(rate)]="rate" [max]="5" (rateChange)="onRateChange($event)" [theme]="'stars'"></bar-rating>
    <button mat-raised-button class="vote-button" (click)="onVote()">Vote</button>
  </div>
  <div>
    
  </div>
</div>
